.hover {
  border: 1px dotted grey;
  transition: border 0.5s;
}

.neckcut {
  border-top: 2px solid red;
}

.cut {
  color: red;
}

.card {
  width: 30em;
  margin: 3pt;
}

body {
  padding: 7pt;
}

.card-body, .list, .prop, .concl, .comma, .parens, .string {
  display: inline-block;
}



.card-body {
  justify-content: center;
}

#root {
  flex-wrap: wrap;
  width: 100%;
  display: flex;
  flex-direction: row;
}

/* .var:not(:last-child), .const:not(:last-child), .cut, .discard, .parens{ */
.var, .const, .cut, .discard, .symbol{
  padding: 0 2pt;
}

.cut {
  color: red;
}

.cut, .symbol, .infix {
  font-weight: bold;
}

resizable {
  background: cyan;
  position: relative;
}

.resizer {
  width: 10px;
  height: 10px;
  background: blue;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: se-resize;
}


 
/* .prop {
  padding-left: 2em;
  text-indent: -2em;
}  */

.hyps, .concl {
  margin: 0 0.4rem;
}

.concl {
  border-top: 1px solid black;
  display: flex;
}