.cut {
  color: red;
}

body * {
  font-family: 'Times New Roman', serif;
}

.list, .prop, .quantification {
  display: inline-block;
}

.prop, .quantification, .list {
  text-indent: -0.7em;
  padding-left: 0.7em;
  /* margin-left: 0.5em; */
}

#cards {
  flex-wrap: wrap;
  width: 100%;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
}

/* .var:not(:last-child), .const:not(:last-child), .cut, .discard, .parens{ */
.var, .const, .cut, .discard, .symbol, .string {
  padding: 0 2pt;
}

.cut {
  color: red;
}

.cut, .symbol, .infix {
  font-weight: bold;
}

resizable {
  background: cyan;
  position: relative;
}

.resizer {
  width: 10px;
  height: 10px;
  background: blue;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: se-resize;
}

.hyps, .concl {
  margin: 0 0.4rem;
}

.concl {
  border-top: 1px solid black;
  display: flex;
}

.neckcut {
  border-top-color: red;
  border-top-width: 2pt;
}

.clause {
  padding-left: 0.7em;
  border: 1px dotted grey;
}

.prop,
.quantification {
  /* margin: 0.5pt; */
  border: 1px solid transparent;
  transition: border 0.5s;
}

.prop:hover,
.quantification:hover {
  border: 1px solid black;
  transition: border 0.5s;
}
